/******************
****** BODY *******
*******************/

:root {
    --Primary: #072AC8;
    --Accent: #43D2FF;
    --Primary-hover: #A2D6F9;
    --Primary-tapped: #D1EDFF;
    --Neutral-dark: #292E47;
    --Neutral-medium: #6B708D;
    --Neutral-light: #F4F6FC;
    --Neutral-lightBlue: #ECF7FF;
    --Secondary: #FFC600;
    --InputBack:rgba(107, 112, 141, 0.102);
    --Shadow:rgba(107, 112, 141, 0.402);
}

*{
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, width 1s;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.wrapper-section{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto','times new roman','sans-serif';
    font-size: 14px;
    font-style: normal;
    color: var(--Neutral-medium);
    scroll-behavior: smooth;
    background: var(--Neutral-light); 
}

/********************
****** HEADER *******
*********************/

#header-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:relative;
    padding: 62px 20px 0px 20px;
}

.box-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

h1{
    position: absolute;
    z-index: -1;
    color: transparent;
}
.menu-header ul{
    display: flex;
    justify-content: center;
}
.menu-header ul li{
    padding: 0px 30px;
}
.menu-header ul li:focus{
    color: var(--Primary);
}

.menu-header ul li a{
    transition: all 250ms ease-in;
    color:var(--Neutral-medium);
}
.menu-header ul li a:hover{
    transition: all 250ms ease-in-out;
    color:var(--Primary-hover);
}

.btn-style{
    padding: 13px 33px;
    background: var(--Primary);
    color: white;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
    border: 0;
    cursor: pointer;
}
.btn-style:hover{
    background: var(--Primary-hover);
    transition: all 250ms ease-in-out;
}


/******************
****** MAIN  ******
*******************/
#container-section-main{
    padding: 0px 20px;
}


#main-content{
    padding-top: 78px;
}

#container-services{
    margin-top: 200px;
}

.section-services{
    padding: 0px 20px;
}

.service-article{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service-article article:nth-child(2){
    margin: 0px 10px;
}

.service-article:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px var(--Shadow);
}


.service-article header p{
    margin-top: 20px;
}

.service-article .box-icon-service{
    order: 1;   
    position: relative;
    top: 10px;
}
.service-article header{
    order: 2;   
    margin-top: 30px;
}
.service-article footer{
    order: 3;   
    margin-top: 40px;
}
.box-icon-service img{
    transform: translate(50%, 50%);
    display: inline;
}
.box-icon-service{
    background:var(--Neutral-lightBlue);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: relative;
}

#sponsor-containt{
    padding-bottom: 80px;
}

.list-sponsors{
    padding: 30px 30px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
   /*  grid-template-areas: "amazon"; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 40px 37px;
    align-items: center;
    justify-items: center;
    filter: grayscale(100%);
}
.list-sponsors li{
    padding: 10px 25px;
    /* min-width: 154px; */
}
.amazon{
   /*  grid-area: amazon; */
}
#container-testimonial{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 220px;
}
.grid-testimonial{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 60px 10px;
    align-items: center;
    justify-items: center;
    padding: 60px 10px 70px 10px;
    height: 100%;
}
.grid-testimonial h3{
    text-align: center;
}
.grid-4 {
    grid-area: 2 / 1 / span 1 / span 3;
    align-self: center;
    max-width: 596px;
    width: 100%;
    text-align: center;
    padding: 0px 10px;
}
.emoji{
    width: 150px;
}
.section-testimonial-dark{
    background: var(--Neutral-dark);
    position: relative;
}
.background-orbit-transparent{
    position: relative;
}

.emoji{
    filter: drop-shadow(8px 8px 9px black);
}
.background-orbit-transparent::before{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/orbit.png') 50% 50% no-repeat;
    background-size: cover;
    filter: brightness(100%);
}
.figure-profile{
    display: flex;
    align-items: center;
}
.box-profile {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.box-profile img {
    border-radius: 50px;
    height: 100%;
    display: inline;
}

.figure-profile figcaption p:first-child{
    color:var(--Primary-hover);
}
.figure-profile figcaption p:last-child{
    color:var(--Neutral-light);
}


/*********** FAQS **************/


#container-subscribe{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 220px;
    background: var(--Secondary);
}
.section-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 132px 0px;
    text-align: center;
}

.box-title-subscribe{
    padding: 0px 20px;
}
.box-title-subscribe h3{
    margin-bottom: 15px;
}

.box-form-subscribe{
    width: 100%;
    max-width: 611px;
}
.form-susbs input{
    border: 0;
    padding: 0px 20px 0px 0px;
    outline: 0;
    width: 100%;
    background: inherit;
}

.form-susbs input::placeholder{
  color: var(--Neutral-dark);
}

.form-susbs label{
    max-width: 70px;
    background: url(../assets/mail.svg) 75% 50% no-repeat;
    border: 0;
    width: 100%;
}

.form-susbs{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
    width: 100%;
    padding: 0px 20px;
}
.form-susbs .input-box{
    background: var(--Neutral-light);
    height: inherit;
    display: flex;
    width: 100%;
    border: 1px solid var(--Shadow);
    margin-bottom: 20px;
}
.btn-subs{
    height: inherit;
    max-width: 198px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}


/**************** PROJECTS SECTION *****************/


#container-projects{
    margin-top: 120px;
    padding: 0px 20px;
}
.section-project h3, .section-services h3{
    margin-bottom: 70px;
}
.content-article-project, .content-article-service{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.content-info-project, .service-article{
    padding: 29px;
    background: white;
    position: relative;
}

.content-info-project:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px var(--Shadow);
}

.content-info-project footer a, .service-article footer a{
    color: var(--Primary);
}
.content-info-project header p{
    margin-top: 10px;
}
.content-article-project header{
    padding-bottom: 50px;
}
.project-article, .service-article{
    max-width: 31%;
    min-width: 340px;
    width: 100%;
    margin: 10px 10px 10px 0px;
}
.background-orbit{
    background: url('../assets/4.jpg') no-repeat;
}
.background-purify{
    background: url('../assets/5.jpg') no-repeat;
}
.background-crypto{
    background: url('../assets/6.jpg') no-repeat;
}
.background-simplify{
    background: url('../assets/1.jpg') no-repeat;
}
.background-dashcoin{
    background: url('../assets/2.jpg') no-repeat;
}
.background-vectorify{
    background: url('../assets/3.jpg') no-repeat;
}

.background-style-project{
    background-size: cover;
    height: 240px;
    position: relative;
}


/*********************************
********** PROJECT PAGE **********
**********************************/
.section-project-container{
    padding: 0px 20px;
}

.box-subtitle{
   display: flex; 
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}
.box-subtitle p{
    padding: 5px 0px;
}
.box-project-image{
    position: relative;
    margin-top: 80px;
}
.photo-view{
    position: relative;
    height: 444px;
    width: 100%;
    object-fit: cover;
}
.photo-shadow{
    position: absolute;
    top: 0;
    z-index: -1;
    filter: saturate(200%) blur(40px);
    opacity: 0.3;
    object-fit: cover;
    height: 444px;
    width: 100%;
}

.box-project-info{
    margin-top: 70px;
}

.data-now{
    color: var(--Neutral-medium);
}



/***************
**** FOOTER ****
****************/
#footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px 100px 20px;
    margin-top: 200px;
}
.container-logo-footer a{
    width: 98.38px;
}
.container-logo-footer a img{
    width: 100%;
}

#footer-content .container-logo-footer{
    width: 260px;
}
.menu-footer, .container-logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 345px;
    height: 112px;
}
.list-menu-up, .list-menu-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}             

.list-menu-up a, .list-menu-down a{
    color: var(--Neutral-medium);
    transition:all 250ms ease-in;
}
.list-menu-up a:hover, .list-menu-down a:hover{
    transition:all 250ms ease-in-out;
    color: var(--Primary);
}

.list-menu-up li:last-child{
    padding-right: 35px;
}



/******* PRESETS STYLES **********/

.heading1{
    font-size: 60px; 
    font-weight: 700;
    font-style: inherit;
}
h2{
    font-size: 50px; 
    font-weight: 700;
    font-style: inherit;
    color: var(--Neutral-dark);
}
h3{
    font-size: 40px; 
    font-weight: 700;
    font-style: inherit;
    color: var(--Neutral-dark);
}
h4{
    font-size: 24px; 
    font-weight: 700;
    font-style: inherit;
    color: var(--Neutral-dark);
}
.intro-medium{
    font-size: 24px; 
    font-weight: 500;
    font-style: inherit;
}
.intro-regular{
    font-size: 20px; 
    font-weight: 400;
    font-style: inherit;
}
.headline-medium {
    font-size: 17px; 
    font-weight: 500;
    font-style: inherit;
}
.headline-regular {
   font-size: 17px; 
   font-weight: 400;
   font-style: inherit;
}
.caption-1{
    font-size: 15px; 
    font-weight: 400;
    font-style: inherit;
}
.caption-2{
    font-size: 13px; 
    font-weight: 400;
    font-style: inherit;
}

.col-prim{color: var(--Primary)!important;}

.col-acc{color: var(--Accent);}

.col-med{color: var(--Neutral-medium);}

.col-lig{color: var(--Neutral-light);}

.col-dark{color:var(--Neutral-dark);}

.col-sec{color: var(--Secondary);}

.col-hover{color:var(--Primary-hover);}



